.form-button {
  display: inline-block;
  height: 80px;
  padding: 0 110px;

  outline: none;
  border: none;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;

  border-radius: 33px 4px;
  background: rgb(123,0,234);
  background: linear-gradient(274deg, rgba(123,0,234,1) 0%, rgba(74,0,237,1) 100%);
}