.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-size: 16px; 
  color: #464d62;
  text-decoration: none;
}

.nav--footer {
  .nav__link {
    color: #fff;
  }
}