.person {
  display: inline-flex;
  align-items: center;
}

.person__avatar {
  width: 75px;
  margin-right: 20px;
}

.person__text {
  color: #464d62;
}

.person__username {
  font-weight: bold;
  font-size: 18px;
  color: currentColor;

  margin-bottom: 8px;
}

.person__desc {
  color: currentColor;
  font-weight: 600;
  opacity: .3;
  font-weight: 16px;
}