.review-slider {
  max-width: 965px;
}

.review-slider__header {
  display: flex;
  align-items: center;

  margin-bottom: 65px;
}

.review-slider__title {
  font-size: 36px;
  color: #464d62;
  font-weight: 600;
  margin-right: 100px;
}

.review-slider__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.review-slider__item {
  width: 48%;
}