.review-item {
  display: flex;
  justify-content: space-between;
}

.review-item__image {
  width: 15%;
}

.review-item__icon {
  max-width: 100%;
  fill: #dbe2ec;
}

.review-item__content {
  width: 79%;
}

.review-item__text {
  font-size: 16px;
  color: #464d62;
  font-weight: 600;
  opacity: .5;
  line-height: 1.85;

  margin-bottom: 25px;
}