.scroll-down-btn {
  display: flex;
  align-items: center;
}

.scroll-down-btn__text {
  color: #464d62;
  font-size: 18px;
  font-weight: 600;
}

.scroll-down-btn__icon {
  width: 25px;
  height: 30px;
}