.slider {
  max-width: 980px;
  position: relative;
}

.slider__fillpic {
  display: block;
  width: 100%;
}

.slider__preview {
  max-width: 178px;
  width: 20%;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.slider__buttons {
  position: absolute;
  right: 0;
  top: 100%;
}