.triangles {
  display: flex;
  justify-content: space-between;

  color: #fff;
  margin-top: -100px;
}

.triangles__item {
  fill: currentColor;
  width: 50%;
  height: 100px;
}

.triangles--work {
  margin-top: initial;
  margin-bottom: -100px;
}