.values {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 100px;
}

.values__title {
  width: 600px;
  margin: 0 auto;
  text-align: left;

  margin-bottom: 40px;
}

.values__title-text {
  margin-bottom: 25px;
}

.values__title-desc p {
  font-size: 16px;
  color: #464d62;
  opacity: .5;
}